@*
    ホーム画面
*@
@page "/home"

<PageTitle>Ibasho - ホーム</PageTitle>

<div class="space-y-4">
    <div class="p-4">
        <PostList />
    </div>
</div>

@code {
    // パス
    public static string Path = "/home";
}