@*
    ホーム画面
*@
@page "/home"

<PageTitle>Ibasho - ホーム</PageTitle>

<div class="space-y-4">
    <div class="p-4">
        <HomeContainer Posts="@Posts" />
    </div>
</div>

@code {
    // パス
    public static string Path = "/home";

    // 投稿一覧
    private List<PostListItemDto> Posts { get; set; } = new();

    /// <summary>
    /// 初期表示時
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        string? userId = await UserAuthHelper.GetUserIdAsync(AuthStateProvider);
        if (!string.IsNullOrEmpty(userId))
        {
            Posts = (await GetHomeTimelineUseCase.ExecuteAsync(userId)).ToList();
        }
    }
}