# Visual Studio / Rider specific
.vs/

# User-specific files
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
publish/

# Log files
*.log

# Temp files
*.tmp

# Packages
/packages/

# Blazor specific
obj/Debug/net8.0/scopedcss/bundle/
obj/Debug/net8.0/scopedcss/projectbundle/

# Local override settings (not for source control)
appsettings.Local.json

# (dotnet user-secrets is stored outside repo, so no ignore needed here)