@*
    通知一覧画面
*@
@page "/notifications"
@using Ibasho.Application.DTOs
@using Ibasho.Application.Services.Auth
@using Ibasho.Application.UseCases.Posts
@using Ibasho.Components.Partials.Shared
@using Ibasho.Application.UseCases.Notifications;

@inject CreatePostUseCase CreatePostUseCase
@inject GetHomeTimelineUseCase GetHomeTimelineUseCase
@inject GetNotificationsUseCase GetNotificationsUseCase
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthStateProvider


<PageTitle>Ibasho - 通知</PageTitle>

<div class="space-y-4">
    <div class="p-4">
        <h1 class="text-2xl font-bold text-gray-800">通知</h1>
        <div class="space-y-3 mt-4">
            @foreach (var item in NotificationList)
            {
                <div class="p-4 bg-white border border-gray-200 rounded-xl shadow-sm flex items-center space-x-4">
                    <svg class="w-6 h-6 text-sky-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg>
                    <img class="w-10 h-10 rounded-full cursor-pointer" onclick="event.preventDefault(); location.href = '/profile';" src="@item.ActorAvatarUrl" alt="User Avatar">
                    <p class="flex-1">@item.Message</p>
                </div>
            }
        </div>
    </div>
</div>

@code {
    // パス
    public static string Path = "/notifications";

    // 通知一覧
    private List<NotificationItemDto> NotificationList = new();

    /// <summary>
    /// 初期表示時
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        var userId = await UserAuthHelper.GetUserIdAsync(AuthStateProvider);
        if (!string.IsNullOrEmpty(userId))
        {
            var result = await GetNotificationsUseCase.ExecuteAsync(userId);
            NotificationList = result.ToList();
        }
        else
        {
            NotificationList = new List<NotificationItemDto>();
        }
        StateHasChanged();
    }
    
}