@*
    通知一覧画面
*@
@page "/notifications"

<PageTitle>Ibasho - 通知</PageTitle>

<div class="space-y-4">
    <div class="p-4">
        <h1 class="text-2xl font-bold text-gray-800">通知</h1>
        <div class="mt-4">
            <NotificationsContainer Notifications="@NotificationItems" OnReload="@LoadNotificationsAsync" />
        </div>
    </div>
</div>

@code {
    // パス
    public static string Path = "/notifications";

    // 通知一覧
    private IReadOnlyList<NotificationItemDto> NotificationItems { get; set; } = [];

    /// <summary>
    /// 初期表示時
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await LoadNotificationsAsync();
    }

    /// <summary>
    /// 通知一覧を読み込み
    /// </summary>
    private async Task LoadNotificationsAsync()
    {
        string? userId = await UserAuthHelper.GetUserIdAsync(AuthStateProvider);
        if (!string.IsNullOrEmpty(userId))
        {
            NotificationItems = await GetNotificationsUseCase.ExecuteAsync(userId);
        }
    }
}