<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Ibasho.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <HeadOutlet />
</head>

<body class="bg-gray-50 text-gray-800 h-[100dvh] overflow-hidden overscroll-none">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
