@*
    検索画面
*@
@page "/search"

<PageTitle>Ibasho - 検索</PageTitle>

<div class="space-y-4">
    <div class="p-4">
        <h1 class="text-2xl font-bold text-gray-800">探す</h1>
        <div class="mt-4">
            <SearchContainer />
        </div>
    </div>
</div>

@code {
    // パス
    public static string Path = "/search";
}